
<h6>EXPERIENCIA LABORAL</h6>
<p>Menciona tus experiencias profesionales más relevantes para tu perfil</p>

<p class="mt-4"><b>Experiencia 1</b></p>
<input class="form-control mb-3" type="file" id="laboral1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Puesto desempeñado (año de inicio - año de fin)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 2</b></p>
<input class="form-control mb-3" type="file" id="laboral2-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Puesto desempeñado (año de inicio - año de fin)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 3</b></p>
<input class="form-control mb-3" type="file" id="laboral3-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Puesto desempeñado (año de inicio - año de fin)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 4</b></p>
<input class="form-control mb-3" type="file" id="laboral4-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Puesto desempeñado (año de inicio - año de fin)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 5</b></p>
<input class="form-control mb-3" type="file" id="laboral5-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Puesto desempeñado (año de inicio - año de fin)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br><br>
<h6>FORMACIÓN PROFESIONAL</h6>
<p>Menciona las principales experiencias educativas que hayas tenido</p>

<p class="mt-4"><b>Experiencia 1</b></p>
<input class="form-control mb-3" type="file" id="educativo1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título obtenido (año de egreso)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 2</b></p>
<input class="form-control mb-3" type="file" id="educativo2-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título obtenido (año de egreso)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 3</b></p>
<input class="form-control mb-3" type="file" id="educativo3-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título obtenido (año de egreso)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 4</b></p>
<input class="form-control mb-3" type="file" id="educativo4-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título obtenido (año de egreso)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 5</b></p>
<input class="form-control mb-3" type="file" id="educativo5-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p><input class="form-control" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<br>
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título obtenido (año de egreso)">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
