
<h6>EXPERIENCIA LABORAL</h6>
<p>Menciona tus experiencias profesionales más relevantes para tu perfil</p>

<p class="mt-4"><b>Experiencia 1</b></p>
<input class="form-control mb-3" type="file" id="laboral1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Puesto desempeñado">
<div class="d-flex">
<input class="form-control mb-3 me-3" type="text" aria-label="default input example" placeholder="Año de inicio">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de fin">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 2</b></p>
<input class="form-control mb-3" type="file" id="laboral1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Puesto desempeñado">
<div class="d-flex">
<input class="form-control mb-3 me-3" type="text" aria-label="default input example" placeholder="Año de inicio">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de fin">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 3</b></p>
<input class="form-control mb-3" type="file" id="laboral1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Puesto desempeñado">
<div class="d-flex">
<input class="form-control mb-3 me-3" type="text" aria-label="default input example" placeholder="Año de inicio">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de fin">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 4</b></p>
<input class="form-control mb-3" type="file" id="laboral1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Puesto desempeñado">
<div class="d-flex">
<input class="form-control mb-3 me-3" type="text" aria-label="default input example" placeholder="Año de inicio">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de fin">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 5</b></p>
<input class="form-control mb-3" type="file" id="laboral1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo de la empresa u organización en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la empresa">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Puesto desempeñado">
<div class="d-flex">
<input class="form-control mb-3 me-3" type="text" aria-label="default input example" placeholder="Año de inicio">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de fin">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br><br>
<h6>FORMACIÓN PROFESIONAL</h6>
<p>Menciona las principales experiencias educativas que hayas tenido</p>

<p class="mt-4"><b>Experiencia 1</b></p>
<input class="form-control mb-3" type="file" id="educativo1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Título obtenido">
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de egreso">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 2</b></p>
<input class="form-control mb-3" type="file" id="educativo1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Título obtenido">
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de egreso">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 3</b></p>
<input class="form-control mb-3" type="file" id="educativo1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Título obtenido">
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de egreso">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 4</b></p>
<input class="form-control mb-3" type="file" id="educativo1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Título obtenido">
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de egreso">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>

<p class="mt-4"><b>Experiencia 5</b></p>
<input class="form-control mb-3" type="file" id="educativo1-file">
<p><i class="fa-regular fa-file"></i><small> Sube el logo del centro educativo en formato .PNG con altura máxima recomendada de 60px</small></p>
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Nombre de la institución">
<input class="form-control mb-4" type="text" aria-label="default input example" placeholder="Título obtenido">
<div class="d-flex">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año de egreso">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
