
<h6>BANNER</h6>
<p>Elige una nueva imagen</p>
<div class="mb-3 d-flex">
  <input class="form-control" type="file" id="banner">
  <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
  <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<p><i class="fa-regular fa-file"></i> <small> Las medidas del archivo deben ser 1280px x 650px en formato .PNG</small></p>
<br> <br>
<h6>PRESENTACIÓN</h6>
<p>Nombre</p>
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br>
<p>Apellido</p>
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br>
<p>Escribe aquí tu profesión o especialidad</p>
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br><br>
<h6>CURRÍCULUM VITAE</h6>
<p>Sube tu CV para que pueda ser descargado desde la web</p>
<div class="d-flex mb-3">
  <input class="form-control" type="file" id="cv">
  <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
  <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
  </div>
  <p><i class="fa-regular fa-file"></i> <small> El archivo debe estar en formato .PDF y ser nombrado con tu nombre, apellido y profesión</small></p>

