
<section id="sobre-mi"> 
      
    <div class="container text-center mt-5">
      <div class="row">
        <div class="col-lg-3 col-12">
          <img src="assets/img/foto-perfil-cuadrada.jpg" alt="foto de perfil" class="rounded-circle img-fluid foto-perfil mb-3">
          <p><b>¡Hola! Soy Florencia</b>, Licenciada en Comercialización, incursionando en el área de Desarrollo Web desde 2022.<br> 
            Gracias a mi formación profesional y académica puedo garantizar que mi prioridad es siempre la búsqueda de soluciones para lograr la<br><span class="satisfaccion"><i>satisfacción del cliente</i></span>.</p>      
        </div> 

        <!-- SOFT SKILLS E IDIOMAS -->
        <div class="col-md-5 col-lg-4 col-12 pt-3">
           <app-softskillsidiomas></app-softskillsidiomas>
        </div>

        <div class="col-1">
        </div>

        <!-- HARD SKILLS -->
        <div class="col-md-5 col-lg-4 col-12 pt-5 mt-3">
           <app-hardskills></app-hardskills>
        </div>
       
        <div class="col">
        </div>
      </div>
    </div>
  </section>
