
.tarjetas-proyectos{
    justify-content: center;
    display: flex;
}

.card:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2%);
}

section[id] {
    scroll-margin-top: 6rem;
  }