
.nav-color2{
    background-color: rgb(152, 77, 150);
}

.candado2{
    background-color: transparent;
    border: none !important;
    color: rgba(39, 36, 36, 0.653) !important;
    margin-left: 1rem;
    margin-right: 1rem;
 }

