
<section id="aprendizaje" class="mt-5 ms-3"> 
    <h5>Experiencia de Aprendizaje</h5>
    <hr>
    <div class="container text-center">
      <div class="row">

        <div class="col">
        </div>

        <div class="col-md-4">
          <app-explaboral></app-explaboral>
        </div>

        <div class="col-md-1">
          <br><br><br>
        </div>

        <div class="col-md-4">
            <app-expeducativa></app-expeducativa>        
        </div>

        <div class="col">
        </div>

      </div>
    </div>
  </section>