
<h6 class="lead">Experiencia Laboral</h6>
<br>
<img src="assets/img/beiersdorf1.png" alt="beiersdorf logo"><h6>Beiersdorf S.A.</h6>
<p><em>Order Management Senior Analyst (2015-2016)</em></p>
<br>
<img src="assets/img/philips1.png" alt="philips logo"><h6>Philips Argentina S.A.</h6>
<p><em>Customer Support for South Latam (2013-2015)</em></p>
<br> 
<img src="assets/img/nextel1.png" alt="nextel logo"><h6>Nextel Communications Argentina</h6>
<p><em>Analista de Back Office (Pasantía Profesional 2012)</em></p>       
