
<a name="inicio"></a>
    <header> 
      <nav class="navbar navbar-expand-lg fixed-top nav-color">
          <div class="container-fluid">
      
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <!-- Logos Argentina Programa -->
            <img src="/assets/img/arg-programa.png" alt="logo argentina programa" height="50rem" class="d-none d-lg-block">
            <img src="/assets/img/arg-programa2.png" alt="logo argentina programa" height="50rem" class="d-block d-lg-none">
      
            <!-- Redes sociales navbar-->
            <div class="items-navbar d-none d-lg-block">
              <div class="d-inline-block">
              <app-redessociales></app-redessociales>
            </div>
            <div class="d-inline-block">
              <!-- Button trigger modal de Administrador Login navbar-->
              <i data-bs-toggle="modal" data-bs-target="#loginModal" class="fa-solid fa-lock fa-1x candado"></i> 
             </div>
            </div>
            
            
            <div class="collapse navbar-collapse" id="navbarToggler">  
            <!-- Barra de Navegación secciones -->
              <ul class="navbar-nav ms-5 ps-1">
                <li class="nav-item">
                  <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre-mi">Sobre mí</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#aprendizaje">Aprendizaje</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contacto">Contacto</a>
                </li>
              </ul>
              <!-- Redes y login en toggler -->
              <div class="d-block d-lg-none ms-5">
              <br>
              <!-- Button trigger modal de Administrador Login -->
              <p data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa-solid fa-lock fa-lg candado3 ms-1 me-2"></i>Administrador</p> 
              <!-- Redes sociales toggler -->
              <div class="mt-2 mb-3">
                <app-redessociales></app-redessociales>
            </div>
            </div>
            </div>        
        </div>
      </nav>
    </header>

    <!-- Modal Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="loginModalLabel">Administrador</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <input type="email" placeholder="Usuario" class="form-control" name="usuario">
                <br>
                <input type="password" placeholder="Contraseña" class="form-control" name="contraseña">
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn login-boton">Login</button>
            </div>
          </div>
        </div>
      </div>
