
 <h6>REDES SOCIALES</h6>
 <p>Ingresa los links para compartir tus redes sociales</p>

   <div class="row">
     <div class="col-md-5 col-10">
       <p class="mt-3"><i class="fa-brands fa-facebook"></i> Facebook</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-square-instagram"></i> Instagram</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-tiktok"></i> TikTok</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-square-pinterest"></i> Pinterest</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-square-twitter"></i> Twitter</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>
     </div>

     <div class="col-md-1"> 
     </div>

     <div class="col-md-5 col-10">
       <p class="mt-3"><i class="fa-brands fa-youtube"></i> YouTube</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-twitch"></i> Twitch</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-spotify"></i> Spotify</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-linkedin"></i> Linkedin</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>

       <p class="mt-3"><i class="fa-brands fa-github"></i> Github</p>
       <div class="d-flex">
       <input class="form-control" type="text" aria-label="default input example">
       <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
       <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
       </div>
     </div>
   </div>
