
<section id="contacto" class="contacto text-white mt-5 lead"> 
        
    <div class="datos-contacto pt-5">
    <p><i class="fa-solid fa-user"></i> Florencia Pía</p>
    <p><i class="fa-solid fa-envelope"></i> florencia.pia@outlook.com</p>
    <p><i class="fa-sharp fa-solid fa-phone"></i> +54 11 1234-0000</p>
    <p><i class="fa-solid fa-location-dot"></i> Buenos Aires, Argentina</p>
    <a href="https://wa.me/5491124002409" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp fa-2x"></i></a>
    </div>
</section> 