
           
            <h6>DATOS DE CONTACTO</h6>
            <p>Indica la información para que puedan contactarte</p>
            
         
            <div class="d-flex pt-4">
              <i class="fa-solid fa-envelope fa-lg pt-3"></i><input class="form-control ms-3" type="email" aria-label="default input example" placeholder="Email">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
             <div class="d-flex pt-4">
              <i class="fa-sharp fa-solid fa-phone fa-lg pt-3"></i><input class="form-control ms-3" type="number" aria-label="default input example" placeholder="Teléfono">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
             <div class="d-flex pt-4">
              <i class="fa-solid fa-location-dot fa-lg pt-3"></i><input class="form-control ms-3" type="text" aria-label="default input example" placeholder="Ciudad">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
             <div class="d-flex pt-4">
              <i class="fa-solid fa-location-dot fa-lg pt-3"></i><input class="form-control ms-3" type="text" aria-label="default input example" placeholder="País">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
             
             <div class="d-flex pt-4">
              <i class="fa-brands fa-whatsapp fa-lg pt-3"></i><p class="ps-2 mt-1">https://wa.me/</p><input class="form-control ms-1" type="number" aria-label="default input example" placeholder="(Sin 0) Número de Whatsapp ">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
             <div class="d-flex pt-4">
              <i class="fa-brands fa-telegram fa-lg pt-3"></i><p class="ps-2 mt-1">https://telegram.me/</p><input class="form-control ms-1" type="text" aria-label="default input example" placeholder="Username de Telegram">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
             <div class="d-flex pt-4">
              <i class="fa-brands fa-facebook-messenger fa-lg pt-3"></i><p class="ps-2 mt-1">https://m.me/</p><input class="form-control ms-1" type="text" aria-label="default input example" placeholder="Username de Facebook">
             <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
             <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
             </div>
