
<section id="banner" class="banner">
    <div class="container intro-banner">
      <div class="row">
        <div class="col-12 mt-5">
        </div>
        <div class="col ms-5 bienvenida-banner">
    <h5>Hola, soy Florencia</h5>
    <h4>Desarrolladora Web Full Stack Jr.</h4>
  <a href="documento.pdf" download="mi-archivo.pdf"><button type="button" class="btn boton-banner">Descargar CV</button></a> 
  <a href="#contacto"><button type="button" class="btn boton-banner">Contáctame</button></a>
  </div>
  <div class="col">
  </div>
  </div>
  </div>  
  </section>
