

<h6>FOTO DE PERFIL</h6>
<p>Elige una nueva imagen</p>
<div class="mb-3 d-flex">
  <label for="formFile" class="form-label"></label>
  <input class="form-control" type="file" id="foto-perfil">
  <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
  <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<p><i class="fa-regular fa-file"></i> <small>La imagen debe ser cuadrada y en formato .PNG</small></p>
<br><br>
<h6>PRESENTACIÓN</h6>
<p>Escribe sobre ti</p>
<div class="mb-3 d-flex">
  <textarea class="form-control" id="presentacion" rows="8"></textarea>
  <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
  <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br><br>
<h6>IDIOMAS</h6>
<p>Detalla el nivel de cada idioma</p>
<div class="d-flex">
  <input class="form-control" type="text" aria-label="default input example" placeholder="Idioma">
  <select class="form-select ms-3" aria-label="Default select example">
    <option selected>Básico</option>
    <option value="1">Intermedio</option>
    <option value="2">Avanzado</option>
    <option value="3">Nativo</option>
  </select>
  <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
  <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
  </div>
<br>
  <div class="d-flex">
    <input class="form-control" type="text" aria-label="default input example" placeholder="Idioma">
    <select class="form-select ms-3" aria-label="Default select example">
      <option selected>Básico</option>
      <option value="1">Intermedio</option>
      <option value="2">Avanzado</option>
      <option value="3">Nativo</option>
    </select>
    <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
    <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
    </div>
    <br>
  <div class="d-flex">
    <input class="form-control" type="text" aria-label="default input example" placeholder="Idioma">
    <select class="form-select ms-3" aria-label="Default select example">
      <option selected>Básico</option>
      <option value="1">Intermedio</option>
      <option value="2">Avanzado</option>
      <option value="3">Nativo</option>
    </select>
    <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
    <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
    </div>
    <br>
  <div class="d-flex">
    <input class="form-control" type="text" aria-label="default input example" placeholder="Idioma">
    <select class="form-select ms-3" aria-label="Default select example">
      <option selected>Básico</option>
      <option value="1">Intermedio</option>
      <option value="2">Avanzado</option>
      <option value="3">Nativo</option>
    </select>
    <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
    <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
    </div>
    <br>
  <div class="d-flex">
    <input class="form-control" type="text" aria-label="default input example" placeholder="Idioma">
    <select class="form-select ms-3" aria-label="Default select example">
      <option selected>Básico</option>
      <option value="1">Intermedio</option>
      <option value="2">Avanzado</option>
      <option value="3">Nativo</option>
    </select>
    <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
    <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
    </div>
    <br><br>
    <h6>FORTALEZAS</h6>
    <p>Enumera tus principales virtudes</p>
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Fortaleza">
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
<br>
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example" placeholder="Fortaleza">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br>
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example" placeholder="Fortaleza">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br>
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example" placeholder="Fortaleza">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br>            
<div class="d-flex">
<input class="form-control" type="text" aria-label="default input example" placeholder="Fortaleza">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
</div>
<br><br>
    <h6>HABILIDADES ESPECÍFICAS</h6>
    <p>Detalla el nivel de conocimiento sobre tus principales habilidades profesionales</p>

    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <select class="form-select ms-3" aria-label="Default select example">
        <option selected>25%</option>
        <option value="1">50%</option>
        <option value="2">75%</option>
        <option value="3">100%</option>
      </select>
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br>
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <select class="form-select ms-3" aria-label="Default select example">
        <option selected>25%</option>
        <option value="1">50%</option>
        <option value="2">75%</option>
        <option value="3">100%</option>
      </select>
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br>
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <select class="form-select ms-3" aria-label="Default select example">
        <option selected>25%</option>
        <option value="1">50%</option>
        <option value="2">75%</option>
        <option value="3">100%</option>
      </select>
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br>
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <select class="form-select ms-3" aria-label="Default select example">
        <option selected>25%</option>
        <option value="1">50%</option>
        <option value="2">75%</option>
        <option value="3">100%</option>
      </select>
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br>
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <select class="form-select ms-3" aria-label="Default select example">
        <option selected>25%</option>
        <option value="1">50%</option>
        <option value="2">75%</option>
        <option value="3">100%</option>
      </select>
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br>
    <!-- <p>Otras habilidades</p> 
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br> 
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>
    <br> 
    <div class="d-flex">
      <input class="form-control" type="text" aria-label="default input example" placeholder="Habilidad">
      <i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion ml-auto pt-3 ps-4"></i>
      <i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion ml-auto pt-3"></i>
      </div>-->
