
<h6>PROYECTOS</h6>
<p>Presenta los principales proyectos en los que hayas participado o creado</p>

<p class="mt-4"><b>Proyecto 1</b></p>
<input class="form-control mb-3" type="file" id="proyecto1-file">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año">
<textarea class="form-control mb-3" id="proyecto1-text" rows="5" placeholder="Describe tu proyecto y principales herramientas utilizadas"></textarea>
<input class="form-control mb-1" type="text" aria-label="default input example" placeholder="Enlace a la web">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion pt-3 ps-4 boton-abajo"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion pt-3"></i>
<br>
<p class="mt-4"><b>Proyecto 2</b></p>
<input class="form-control mb-3" type="file" id="proyecto2-file">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año">
<textarea class="form-control mb-3" id="proyecto2-text" rows="5" placeholder="Describe tu proyecto y principales herramientas utilizadas"></textarea>
<input class="form-control mb-1" type="text" aria-label="default input example" placeholder="Enlace a la web">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion pt-3 ps-4 boton-abajo"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion pt-3"></i>
<br>
<p class="mt-4"><b>Proyecto 3</b></p>
<input class="form-control mb-3" type="file" id="proyecto3-file">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año">
<textarea class="form-control mb-3" id="proyecto3-text" rows="5" placeholder="Describe tu proyecto y principales herramientas utilizadas"></textarea>
<input class="form-control mb-1" type="text" aria-label="default input example" placeholder="Enlace a la web">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion pt-3 ps-4 boton-abajo"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion pt-3"></i>
<br>
<p class="mt-4"><b>Proyecto 4</b></p>
<input class="form-control mb-3" type="file" id="proyecto4-file">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Título">
<input class="form-control mb-3" type="text" aria-label="default input example" placeholder="Año">
<textarea class="form-control mb-3" id="proyecto4-text" rows="5" placeholder="Describe tu proyecto y principales herramientas utilizadas"></textarea>
<input class="form-control mb-1" type="text" aria-label="default input example" placeholder="Enlace a la web">
<i type="button" class="fa-solid fa-trash btn fa-lg boton-edicion pt-3 ps-4 boton-abajo"></i>
<i type="button"class="fa-solid fa-floppy-disk btn fa-lg boton-edicion pt-3"></i>

